 p{
                margin-top:0px;
                margin-bottom:0px;
             
           
            }
body{
    margin:0;
    padding-top:70px;
    padding-left:100px;
    padding-right:25px;
}

