.video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                column-gap:16px;
                row-gap:40px;

            }

             @media (max-width:600px) {
                .video-grid{
                    grid-template-columns: 1fr 1fr;
                }
            }
             @media (min-width:751px) and(max-width:999px){
                .video-grid{
                    grid-template-columns: 1fr 1fr 1fr;
                }
             }
             @media (min-width:1000px) {
                .video-grid{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }


            .video-preview{
                width:100%;
                position:relative;
                margin-right:15px;
                margin-top:15px;
                z-index:-1;
            }
            .thumbnail{
                width:100%;
            }
            .channel{
                width:100%;
                border-radius:50%;
                display:inline-block;
            }
            .channel-picture{
                display:inline-block;
                width:40px;
                vertical-align: top;
                margin-top:10px;
            }
            .video-info{
                display:inline-block;
                width:250px;
                vertical-align: top;
                
                
            }
            .video-title,.author,.stats{
                vertical-align: top;
                margin-left: 10px;
                width:245px;
                font-family:Roboto;
                
                
            }
            .video-title{
                margin-top:10px;
                font-weight:600;
            }
           
            .author,.stats{
                margin-top: 15px;
                font-size:13px;
                color:gray;
            }
            .stats{
                margin-top: 5px;
            
            }
            .Search{
                display:block;

            }
           
            .thumbnail-row{
                margin-bottom:12px;
                position:relative;
                z-index:-1;
            }
             .time{
                position:absolute;
                background-color: black;
                color:white;
                font-weight:bold;
                bottom:10px;
                right:5px;
                padding-left:4px;
                padding-right:4px;
                padding-bottom:2px;
                padding-top:2px;
                font-size:12px;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                border-radius:4px;

            }